{% extends 'accounts/login.html' %}
{% block title %}
  Регистрация - {{ block.super }}
{% endblock %}

{% block button_title %}
  Зарегистрировать
{% endblock %}

{% block auth_navbar %}
  <div class="text-center mb-3">
    <h2 class="fw-bolder m-card-title text-center">{% block form_title %}{% endblock form_title %}</h2>
    <nav class="text-dark nav nav-pills flex-column flex-sm-row justify-content-center">
      {% if request.user.is_staff %}
        <a class="text-dark text-sm-center nav-link{% if request.resolver_match.url_name == 'register' %} active{% endif %}"
           href="{% url 'register' %}">Регистрация</a>
      {% endif %}
    </nav>
  </div>
{% endblock auth_navbar %}
