* {
    margin: 0;
    padding: 0;
}


*::selection {
    background: #FDA93DC1;
    color: #000000;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: #d091de;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

img.cover {
    object-fit: cover;
    /*width: 400px;*/
    /*height: 500px;*/
    object-position: 50% 50%;
}

.navbar {
    background-color: rgba(87, 13, 215, 0.18);
    width: 100%;
}

.overlay-dark {
    background-color: rgba(87, 13, 215, 0.18);
}


.nav-link.active {
    font-weight: 700;
}

.overlay, .nav-pills .nav-link.active {
    background-color: #c98ce5;
}

h2.m-card-title {
    font-size: 30px;
}

p.card-text {
    font-size: 24px;
}

p.m-card-text {
    font-size: 18px;
    color: rgb(33, 33, 33);
}

.form-control {
    resize: none;
    outline-color: #FDA93DC1;
}

.form-control::placeholder {
    font-size: 20px;
}


.pagination .page-item .page-link {
    color: #1e2125;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 50%;
}

.pagination .page-item .page-link.active {
    background-color: #FDA93DC1;
    border-radius: 100%;
    color: #1e2125;
    font-weight: 700;
}

.pagination a {
    display: inline-block;
    padding: 10px 18px;
    color: #1e2125;
}

.page-container a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.form-input {
    display: flex;
    justify-content: center;
}

.nav.nav-pills .nav-link {
    outline: none;
}

.btn.overlay {
    border: none;
}

.btn.overlay:hover {
    background-color: #FDA93DC1;
}

a.team-link {
    text-decoration: none;
    display: inline-block;
    color: #1a1a1c;
    font-size: 14px;
    font-weight: 300;
}

a.team-link:hover {
    text-decoration: underline;
}
