{% extends 'base.html' %}
{% load static %}

{% block title %}
  Положение команд - {{ block.super }}
{% endblock title %}

{% block content %}
  {% for team in teams %}
    <div class="container-fluid pt-2 {% cycle 'overlay' '' %}">
      <div class="container px-5 py-6">
        <div class="align-items-center gx-5 text-center py-3">
          <div class="h-100">
            <a class="lead team-link fw-normal fs-2"
               href="{% url "team_detail" team.pk %}"> {{ team.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
