{% extends 'base.html' %}
{% load static %}
{% load age_filters %}

{% block title %}
  {{ team.name }} - {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="overflow-x-auto my-5">
    <table class="table my-0 overlay table-hover container-fluid">
      <thead>
      <tr>
        <td class="align-middle">ФИ</td>
        {% for _, verbose_name in vb.items %}
          <td class="align-middle">
            {{ verbose_name }}
          </td>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for player_pk, stat in statistic.items %}
        <tr>
          <td class="align-middle">
            {{ stat.player.user.get_full_name }}
          </td>
          {% for field, total_value in stat.statistic.items %}
            <td class="align-middle">
              {% if total_value %}
                <div class="col my-2">{{ total_value }}</div>
              {% else %}
                <div class="col my-2">---</div>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
