{% extends 'base.html' %}
{% load static %}

{% block title %}
  Главная - {{ block.super }}
{% endblock title %}

{% block content %}
  <div class="content-container py-5">
    <div class="container px-5">
      <div class="row gx-3 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-8 col-xxl-8">
          <div class="my-5 text-center text-xl-start">
            <h1 class="display-2 fw-bolder text-dark mb-2">{{ 'АСБ - Красноярск'|upper }}</h1>
            <p class="lead fw-normal text-dark-50 mb-4">
              Ассоциация студенческого баскетбола — спортивная ассоциация, проводящая
              официальный студенческий чемпионат России по баскетболу.
              <br>
              <br>
              Наш проект предназначен для того, чтобы каждый студент мог продемонстрировать свои навыки и способности в
              баскетболе, став частью национального чемпионата. Мы создаем возможность для страны узнать своих настоящих
              чемпионов!
              <br>
              <br>
              Здесь вы сможете отслеживать матчи университетов, следить за ходом соревнований и изучать статистику
              игроков команд.
            </p>
          </div>
        </div>
        <div class="col-xl-4 col-xxl-4 d-none d-xl-block text-center">
          <img class="cover rounded-3 my-5" src="{% static 'img/i.png' %}"
               alt="АСБ" height="400px" width="600px"/>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-2 overlay">
    <div class="container px-5 my-5">
      <div class="row gx-5 text-center justify-content-center align-items-center">
        <div class="col-lg-4 mb-5 mb-lg-0 justify-content-center">
          <h2 class="fw-bolder mb-0">{{ 'ты можешь дальше, больше'|upper }}</h2>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0 justify-content-center">
          <img class="cover rounded-3" src="{% static 'img/footer.png' %}"
               alt="АСБ"/>
        </div>
        <div class="col-lg-4 mb-5 mb-lg-0 justify-content-center">
          <h2 class="fw-bolder mb-0">{{ 'come on everybody put your hands up!'|upper }}</h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
